@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

html *,
body * {
  cursor: none;
}

@layer utilities {
  .cursor {
    width: 40px;
    height: 40px;
    border: 2px solid #e56aa5;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 100ms ease;
    transition-property: background-color, opacity, transform, mix-blend-mode;
    z-index: 9999 !important;
    mix-blend-mode: normal;
  }

  .cursor--hidden {
    opacity: 0;
  }

  .cursor--link-hovered {
    transform: translate(-50%, -50%) scale(1.5);
    border: 2px solid #e56aa5;
    /* background-color: rgba(229, 106, 165, 1); */
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 9999;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
  }

  .cursor--social-hovered {
    transform: translate(-50%, -50%) scale(1.5);
    border: 1px solid #fff;
    /* background-color: rgba(229, 106, 165, 1); */
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 9999;
    background-image: url("/Social_Media.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #e56aa5;
    background-size: 40px 40px;
  }

  .cursor--email-hovered {
    transform: translate(-50%, -50%) scale(1.5);
    border: 1px solid #fff;
    /* background-color: rgba(229, 106, 165, 1); */
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 9999;
    background-image: url("/email.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #e56aa5;
    background-size: 40px 40px;
  }

  .cursor--phone-hovered {
    transform: translate(-50%, -50%) scale(1.5);
    border: 1px solid #fff;
    /* background-color: rgba(229, 106, 165, 1); */
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 9999;
    background-image: url("/Phone_call.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #e56aa5;
    background-size: 40px 40px;
  }

  .cursor--journal-hovered {
    transform: translate(-50%, -50%) scale(1.5);
    border: 1px solid #fff;
    /* background-color: rgba(229, 106, 165, 1); */
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 9999;
    background-image: url("/Journal.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #e56aa5;
    background-size: 40px 40px;
  }
  .cursor--big-button-hovered {
    transform: translate(-50%, -50%) scale(1.5);
    border: 2px solid #fbae42;
    /* background-color: rgba(229, 106, 165, 1); */
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 9999;
    background-size: 40px 40px;
  }

  .cursor--clicked {
    transform: translate(-50%, -50%) scale(0.9);
    background-color: #e56aa5;
    border: 1px solid #fff;
  }
}
